body{background-color:yellowgreen;
font-size:2em;
color:white;
font-style:"sansserif";}
body:hover{background-color:white;
color:yellowgreen;
}
#eigabename:hover{color:gold;}

section{display:inline;}
#eingabename{font-size:3em;
font-weight:bold;}