/* 
Aufgabe 0
Name: saile christian
Matrikel: 254877
Datum: 10. Oktober 2017
	
Hiermit versichere ich, 
dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert.*/







body{background-color:#ff702b;
font-size:3em;
color:white;
font-style:"sansserif";}
body:hover{background-color:white;
color:#ff702b;
}


section{display:inline;}
#eingabename{font-size:5em;
font-weight:bold;}