body{background-image: url(DSC_0020.JPG);
background-repeat: no-repeat;
background-size:cover;}
div {
	height: 240px;
    width: 250px;
    border: 2px dashed yellowgreen;
    text-align: center;
    padding-top:20px;
    float:left;
}


#firststack {
	color:black; 
	background-color:orange;
	opacity: 0.6;
	margin-left: 0px;
	margin-top: 0px,	
}



.secondstack {
    background-color: orange;
    margin-left: 9.5px;
    margin-top: 400px;
    float: left;
    width: 15%;
    opacity:0.5;
}

#thirdstack {
    background-color: orange;
    opacity: 0.6;
    margin-top: -664px;
    float: left;
    margin-left: 20em;
}