/*Aufgabe 2
Name: saile christian
Matrikel: 254877
Datum: 2.April 2017
	
Hiermit versichere ich, 
dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert.*/




table{
		width:600px; 
		height:600px;
}




{
	color:white;
   
	float:left;
	padding:1.25px;
	font-weight:bold;
	font-size:0.74em;
	}
.black{background-color:black;
color:yellowgreen;}

.white{background-color:white;
color:yellowgreen;}

