/*Aufgabe: 1 
Name: Saile Christian
Matrikel: 254877
Datum: 10. Oktober
Hiermit versichere ich, dass ich diesen
Code selbst geschrieben habe. Er wurde
nicht kopiert und auch nicht diktiert.*/





/*breite bis 570px*/

canvas {
	background-color:white;/*das ist meine Wiese*/
	margin:1em 2em 3em 4em;
	border: 2px solid #FF4500 ;/*Farbe orangered von der umrandung*/
	width:69%;
	height:78%;
}

body{background-color:yellow;}/*Hintergrundfarbe gelb*/
/*breite bis768px*/
@media screen and (min-width:571px){
	canvas{width:70%;
	height:86%;}
	
}
/*breite bis 1024px*/
@media screen and (min-width:769px){
	canvas{width:75%;
	height:96%;}
	
}
@media screen and (min-width:1025px){
	canvas{width:80%;
	height:98%;}
	
}