/*Aufgabe 2
Name: saile christian
Matrikel: 254877
Datum: 2.April 2017
	
Hiermit versichere ich, 
dass ich diesen Code selbst geschrieben habe. 
Er wurde nicht kopiert und auch nicht diktiert.*/








div{width:100px;
	height:100px;
	color:yellowgreen;
    position:static;
	border-width:1px;
	border-style:dashed;
	border-color: yellowgreen;
	float:left;
	padding:1.25px;
	font-weight:bold;
	font-size:0.74em;
	}
.black{background-color:black;}

.white{background-color:white;}
div:nth-child(8n+1) {  

	clear:left;
	max-width:800px;
	
	/*Umbruch des Flussverhaltens*/	
}  /*Flussverhalten wird nach jedem 8 Element unterborchen*/
